//globals: equal, responseText, statement, ok, deepEqual, QUnit, module, asyncTest, Util, start, golfStatements, console
/*jslint bitwise: true, browser: true, plusplus: true, maxerr: 50, indent: 4 */
function Config() {
	"use strict";
}
Config.endpoint = "http://localhost:8000/";
Config.authUser = "test";
Config.authPassword = "password";
Config.actor = { "mbox":"test@test.com", "name":"Tester Tester" };
