//globals: equal, responseText, statement, ok, deepEqual, QUnit, module, asyncTest, Util, start, golfStatements, console
/*jslint bitwise: true, browser: true, plusplus: true, maxerr: 50, indent: 4 */
function Config() {
	"use strict";
}
Config.endpoint = "<xAPI end point (ending with slash)>";
Config.user = "<account id>";
Config.password = "<password>";
Config.actor = { "mbox":"<learner email>", "name":"<Learner Name>" };
